<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Account</title>
</head>
<body>
<div th:action="@{/userPage/userPage}" th:method="get">
    <h2 th:text="${'Hello '+ session.userAuth.getName()}"></h2>

    <a href="/addTelephone/addTelephone">Your telephones</a>
    <a href="/addAddress/addAddress">Your addresses</a>


    <div th:if="${userAndHisTelephonesAndAddresses.getTelephones().size()>0}">
        <h3><ins>Telephones</ins></h3>
        <div th:object="${userAndHisTelephonesAndAddresses}">
            <div th:each="item :${userAndHisTelephonesAndAddresses.getTelephones()}">
                <h3>
                    <div th:text="${item.getNumber()+' '+item.getCategory()}"></div>
                </h3>
            </div>
        </div>
    </div>


        <div th:if="${userAndHisTelephonesAndAddresses.getAddresses().size()>0}">
            <h3><ins>Addresses</ins></h3>
            <div th:object="${userAndHisTelephonesAndAddresses}">
                <div th:each="item :${userAndHisTelephonesAndAddresses.getAddresses()}">
                    <h3>
                        <div th:text="${item.getCity()+' '+item.getStreet()+' '+item.getHouse()+' '+item.getFlat()+' '+item.getCategory()}"></div>
                    </h3>
                </div>
            </div>
        </div>
    </div>


</div>
</body>
</html>